#game-board
{
	width: 544px;
	position: relative;
	//border: 4px solid black;
}
.box
{
	border: 2px solid #eee;
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
}
.center-box
{
	background-color: black;
	border: 2px solid black;
}
.row
{
	clear:both;	
	display: inline-block;
}
.robot
{
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	position: absolute;
}
#blue-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, lightblue);
	left: 47px;
	top: 13px;
}
#red-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, red, pink);
	left: 115px;
	top: 47px;
}
#green-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, green, lightgreen);
	left: 47px;
	top: 115px;
}
#yellow-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, yellow);
	left: 115px;
	top: 115px;
}

.vwall
{
	width: 4px;
	height: 38px;
	background-color: black;
	position: absolute;
}
.hwall
{
	width: 38px;
	height: 4px;
	background-color: black;
	position: absolute;
}
#wall1
{
	left: 142px;
	top: 40px;
}
#wall2
{
	left: 142px;
	top: 40px;
}
#wall3
{
	left: 40px;
	top: 74px;
}
#wall4
{
	left: 74;
	top: 74px;
}
#wall5
{
	left: 238px;
	top: 108px;
}
#wall6
{
	left: 142px;
	top: 40px;
}
#wall7
{
	left: 142px;
	top: 40px;
}
#wall8
{
	left: 142px;
	top: 40px;
}
#wall9
{
	left: 142px;
	top: 40px;
}
#wall10
{
	left: 142px;
	top: 40px;
}
#top-wall
{
	width: 548px;
	height: 4px;
	background-color: black;
	position: absolute;
	left: 6px;
	top: 6px;
}
#bottom-wall
{
	width: 548px;
	height: 4px;
	background-color: black;
	position: absolute;
	left: 6px;
	top: 550px;
}
#left-wall
{
	width: 4px;
	height: 548px;
	background-color: black;
	position: absolute;
	left: 6px;
	top: 6px;
}
#right-wall
{
	width: 4px;
	height: 548px;
	background-color: black;
	position: absolute;
	left: 550px;
	top: 6px;
}
