<html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/js/jquery.ui.touch-punch.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<header>
<h1>Ricochet Robots</h1>
<script>
	sessionStorage.setItem('boardLayout', '{{{puzzle}}}');
</script>

</header>
<div id="game-controls">
	<button class="previous">Previous</button>
	<button class="next">Next</button>
	<div>
		<span class="label moves">Number of Moves: </span><span class="moves-counter">0</span>
	</div>
	<div>
		<span class="label current-move">Current Move: </span><span class="move-index">0</span>
	</div>
</div>
<div id="game-board">
	<div class="row" id="row1">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row2">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row3">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row4">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row5">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row6">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row7">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row8">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row9">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row10">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row11">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row12">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row13">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row14">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row15">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<div class="row" id="row16">
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
		<span class="box"></span>
	</div>
	<span class="robot" id="blue-robot"></span>
	<span class="robot" id="green-robot"></span>
	<span class="robot" id="yellow-robot"></span>
	<span class="robot" id="red-robot"></span>
	<span id="objective"></span>
</div>
</body>
</html>
