#game-board
{
	width: 544px;
}
.box
{
	border: 2px solid lightgray;
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
}
#row1 .box
{
	border-top: 2px solid black;
}
.center-box
{
	background-color: black;
	border: 2px solid black;
}
.row
{
	clear:both;	
	display: inline-block;
}
.robot
{
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	position: absolute;
}
.blue-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, lightblue);
	left: 47px;
	top: 13px;
}
.red-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, red, pink);
	left: 115px;
	top: 47px;
}
.green-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, green, lightgreen);
	left: 47px;
	top: 115px;
}
.yellow-robot
{
	background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, yellow);
	left: 115px;
	top: 115px;
}

.wall
{
	width: 8px;
	height: 38px;
	background-color: black;
	position: absolute;
	left: 72px;
	top: 40px;
}
.top-wall
{
	width: 548px;
	height: 4px;
	background-color: black;
	position: absolute;
	left: 6px;
	top: 6px;
}
.bottom-wall
{
	width: 548px;
	height: 4px;
	background-color: black;
	position: absolute;
	left: 6px;
	top: 550px;
}
.left-wall
{
	width: 4px;
	height: 548px;
	background-color: black;
	position: absolute;
	left: 6px;
	top: 6px;
}
.right-wall
{
	width: 4px;
	height: 548px;
	background-color: black;
	position: absolute;
	left: 550px;
	top: 6px;
}
